.buttons {
  margin: 25px;
  padding: 0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
}

.label {
  padding: 13px;
}

.button {
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px 0 10px;
}

.button:hover {
  background-color: #eceff7;
}

.input {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
